.cmnBaseFont
{
    font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
    font-size: x-small;
}

.cmnPageBackground
{
    background: ButtonFace;
}

.cmnTitle
{
    color: ButtonText;
    background: ButtonShadow;
}

.cmnTitleColorInverse
{
    color: ButtonShadow;
}

.cmnSubTitle
{
    color: ButtonText;
    background: ButtonFace;
}

.cmnSubTitleColorInverse
{
    color: ButtonFace;
}

table th
{
    background: ButtonShadow;
}
