<html>
<head>
<title>Raw clicks listing</title>
<link rel="STYLESHEET" type="text/css" href="mainII.css">
</head>

<body>

<h1>[title_affiliates] Program Admininstration</h1>

<h2>New referred affiliates listing</h2>

<form method="post" action="admin.php">
<div align="center"> 
    <input type="submit" value="CLEAR referral database" class="button">
<input type="hidden" name="action" value="cleanlogref">
<br>
    <font size="2" face="Arial, Helvetica, sans-serif">(To remove all entries 
    to date)</font></div>
</form>

<table align="center" border="1" bordercolor="#0099FF" cellpadding="2" cellspacing="0" class="white" style="border-collapse: collapse">
<tr>
	<th>Name</th>
	<th>Date</th>
	<th>Info</th>
</tr>
[referred_log]
</table>
<br>
<form method="post" action="admin.php">
<div align="center"> 
<input type="submit" value="Return to main menu" class="button">
<input type="hidden" name="action" value="menu">
</div>
</form>
<p align="center">&nbsp;</p>
</body>
</html>
