<html>
<head>
<title>[title_affiliates] Admin - Email All Affiliates</title>
<link rel="STYLESHEET" type="text/css" href="mainII.css">
</head>

<body>

<h1>[title_affiliates] Administration</h1>

<h2>Email all affiliates</h2>

<form method="POST" enctype="multipart/form-data" action="admin.php" name="send-message">
<table align="center"><tr><td>
<div align="left"><br>
Subject: <input type="text" name="subject" size="60"><br><br>
Message:<br>
<textarea name="body" cols="67" rows="10"></textarea><br><br>
<input type="hidden" name="action" value="sendmail"></div>
<div align="center">
<input type="submit" value="Send mass email" class="button">
<input type="reset" value="Reset" class="button">
</div>
</td></tr></table>
</form>

<form method="post" action="admin.php">
<input type="submit" value="Return to main menu" class="button">
<input type="hidden" name="action" value="menu">
</form>

</body>
</html>
