<html>
<head>
<title>Affiliates with more than [sold_query] clicks</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="STYLESHEET" type="text/css" href="mainII.css">
</head>

<body>

<H1>[title_affiliates] Administration</H1>
<h2>Affiliates that have earned more than <span class="red">[money_unit][sold_query]</span></h2>

<table border="1" bordercolor="#0099FF" cellspacing="0" align="center" cellpadding="2" class="white" style="border-collapse: collapse">
  <tr> 
    <th>Account</th>
    <th>Amount earned</th>
    <th colspan="2">Action</th>
  </tr>
[affiliate_list]
    <tr> 
	<th>&nbsp;</th>
	<th>&nbsp;</th>
	<th colspan="2">&nbsp;</th>
  </tr>
</table>
<br>
<div align="center">[paging_links]</div>
<br>
<div align="center">
<form method="post" action="admin.php">
	<input type="submit" value="Return to main menu" class="button">
	<input type="hidden" name="action" value="menu">
</form>
</div>
<p>&nbsp;</p>
</body>
</html>
