<html>
<head>
<title>TigerTom.com / T. O' Donnell Inc.</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="STYLESHEET" type="text/css" href="mainII.css">
</head>

<body>

<h1>Sign up for TigerTom's Affiliate Program</h1>

<form action="affiliate_join.php" method="post">
<table align="center" border="0" cellpadding="2" cellspacing="0" class="white" style="border: 1px solid #0099FF">
<tr><th>Create an affiliate account</th></tr>
<tr><td>

<table align="center" border="0" cellpadding="5" cellspacing="0">
	<tr>
            <td align="right"><B>Name:</B></td>
            <td><input type="text" name="name" class="fullwidth"></td></tr>
	<tr><td align="right">Address:</td><td><input type="text" name="address" class="fullwidth"></td></tr>
	<tr>
            <td align="right">Zip or Post Code:</td>
            <td><input type="text" name="zipcode" class="fullwidth"></td></tr>
	<tr><td align="right">City:</td><td><input type="text" name="city" class="fullwidth"></td></tr>
	<tr>
            <td align="right"><FONT SIZE="1">US or Canadian State (if applicable):</FONT></td>
            <td><select name="state">
	<option selected>-- Please select from list -- </option>
	<option value="-">Not Applicable </option>
	<option>--United States-- </option>
	<option value="AL">Alabama </option>
	<option value="AK">Alaska </option>
	<option value="AZ">Arizona </option>
	<option value="AR">Arkansas </option>
	<option value="CA">California </option>
	<option value="CO">Colorado </option>
	<option value="CT">Connecticut </option>
	<option value="DE">Delaware </option>
	<option value="DC">District of Columbia (DC) </option>
	<option value="FL">Florida </option>
	<option value="GA">Georgia </option>
	<option value="HI">Hawaii </option>
	<option value="ID">Idaho </option>
	<option value="IL">Illinois </option>
	<option value="IN">Indiana </option>
	<option value="IA">Iowa </option>
	<option value="KS">Kansas </option>
	<option value="KY">Kentucky </option>
	<option value="LA">Louisiana </option>
	<option value="ME">Maine </option>
	<option value="MD">Maryland </option>
	<option value="MA">Massachusetts </option>
	<option value="MI">Michigan </option>
	<option value="MN">Minnesota </option>
	<option value="MS">Mississippi </option>
	<option value="MO">Missouri </option>
	<option value="MT">Montana </option>
	<option value="NC">N. Carolina </option>
	<option value="ND">N. Dakota </option>
	<option value="NE">Nebraska </option>
	<option value="NV">Nevada </option>
	<option value="NH">New Hampshire </option>
	<option value="NJ">New Jersey </option>
	<option value="NM">New Mexico </option>
	<option value="NY">New York </option>
	<option value="OH">Ohio </option>
	<option value="OK">Oklahoma </option>
	<option value="OR">Oregon </option>
	<option value="PA">Pennsylvania </option>
	<option value="PR">Puerto Rico </option>
	<option value="RI">Rhode Island </option>
	<option value="SC">S. Carolina </option>
	<option value="SD">S. Dakota </option>
	<option value="TN">Tennessee </option>
	<option value="TX">Texas </option>
	<option value="UT">Utah </option>
	<option value="VT">Vermont </option>
	<option value="VI">Virgin Islands </option>
	<option value="VA">Virginia </option>
	<option value="WV">W. Virginia </option>
	<option value="WA">Washington </option>
	<option value="WI">Wisconsin </option>
	<option value="WY">Wyoming </option>
	<option value="AE">AE </option>
	<option value="AP">AP </option>
	<option>--Canada-- </option>
	<option value="AB">Alberta </option>
	<option value="BC">British Columbia </option>
	<option value="MB">Manitoba </option>
	<option value="NB">New Brunswick </option>
	<option value="NF">Newfoundland </option>
	<option value="NT">North West Territory </option>
	<option value="NS">Nova Scotia </option>
	<option value="ON">Ontario </option>
	<option value="PE">Prince Edward Island </option>
	<option value="PQ">Quebec </option>
	<option value="SK">Saskatchewan </option>
	<option value="YT">Yukon Territory </option>
</select value=""></td></tr>
	<tr><td align="right">Country:</td><td>  

<select name="country" class="fullwidth">
 <OPTION SELECTED>Please select ...</OPTION>
 <OPTION VALUE="United Kingdom">United Kingdom</OPTION>
 <OPTION VALUE="USA">USA</OPTION>
 <OPTION VALUE="Afghanistan">Afghanistan</OPTION>
 <OPTION VALUE="Albania">Albania</OPTION>
 <OPTION VALUE="Algeria">Algeria</OPTION>
 <OPTION VALUE="Angola">Angola</OPTION>
 <OPTION VALUE="Anguilla">Anguilla</OPTION>
 <OPTION VALUE="Antarctica">Antarctica</OPTION>
 <OPTION VALUE="Antigua">Antigua</OPTION>
 <OPTION VALUE="Argentina">Argentina</OPTION>
 <OPTION VALUE="Armenia">Armenia</OPTION>
 <OPTION VALUE="Aruba">Aruba</OPTION>
 <OPTION VALUE="Australia">Australia</OPTION>
 <OPTION VALUE="Austria">Austria</OPTION>
 <OPTION VALUE="Azerbaidjan">Azerbaidjan</OPTION>
 <OPTION VALUE="Bahamas">Bahamas</OPTION>
 <OPTION VALUE="Bahrain">Bahrain</OPTION>
 <OPTION VALUE="Bangladesh">Bangladesh</OPTION>
 <OPTION VALUE="Barbados">Barbados</OPTION>
 <OPTION VALUE="Belarus">Belarus</OPTION>
 <OPTION VALUE="Belgium">Belgium</OPTION>
 <OPTION VALUE="Belize">Belize</OPTION>
 <OPTION VALUE="Benin">Benin</OPTION>
 <OPTION VALUE="Bermuda">Bermuda</OPTION>
 <OPTION VALUE="Bolivia">Bolivia</OPTION>
 <OPTION VALUE="Bhutan">Bhutan</OPTION>
 <OPTION VALUE="Bulgaria">Bulgaria</OPTION>
 <OPTION VALUE="Burkina Faso">Burkina Faso</OPTION>
 <OPTION VALUE="Burundi">Burundi</OPTION>
 <OPTION VALUE="Brazil">Brazil</OPTION>
 <OPTION VALUE="Brunei ">Brunei </OPTION>
 <OPTION VALUE="Bouvet Island">Bouvet Island</OPTION>
 <OPTION VALUE="Botswana">Botswana</OPTION>
 <OPTION VALUE="Canada">Canada</OPTION>
 <OPTION VALUE="Chile">Chile</OPTION>
 <OPTION VALUE="Congo">Congo</OPTION>
 <OPTION VALUE="Cook Islands">Cook Islands</OPTION>
 <OPTION VALUE="Cameroon">Cameroon</OPTION>
 <OPTION VALUE="China">China</OPTION>
 <OPTION VALUE="Colombia">Colombia</OPTION>
 <OPTION VALUE="Costa Rica">Costa Rica</OPTION>
 <OPTION VALUE="Cuba">Cuba</OPTION>
 <OPTION VALUE="Cape Verde">Cape Verde</OPTION>
 <OPTION VALUE="Comoros">Comoros</OPTION>
 <OPTION VALUE="Cambodia">Cambodia</OPTION>
 <OPTION VALUE="Chad">Chad</OPTION>
 <OPTION VALUE="Cayman Islands">Cayman Islands</OPTION>
 <OPTION VALUE="Croatia">Croatia</OPTION>
 <OPTION VALUE="Caicos Islands">Caicos Islands</OPTION>
 <OPTION VALUE="Christmas island">Christmas Island</OPTION>
 <OPTION VALUE="Cyprus">Cyprus</OPTION>
 <OPTION VALUE="Czech Republic">Czech Republic</OPTION>
 <OPTION VALUE="Djibouti">Djibouti</OPTION>
 <OPTION VALUE="Denmark">Denmark</OPTION>
 <OPTION VALUE="Dominica">Dominica</OPTION>
 <OPTION VALUE="Ecuador">Ecuador</OPTION>
 <OPTION VALUE="Estonia">Estonia</OPTION>
 <OPTION VALUE="East Timor">East Timor</OPTION>
 <OPTION VALUE="El Salvador">El Salvador</OPTION>
 <OPTION VALUE="Egypt">Egypt</OPTION>
 <OPTION VALUE="Eritrea">Eritrea</OPTION>
 <OPTION VALUE="Ethiopia">Ethiopia</OPTION>
 <OPTION VALUE="Futuna Islands">Futuna Islands</OPTION>
 <OPTION VALUE="Finland">Finland</OPTION>
 <OPTION VALUE="Former">Czechoslovakia</OPTION>
 <OPTION VALUE="French Guyana">French Guyana</OPTION>
 <OPTION VALUE="Fiji">Fiji</OPTION>
 <OPTION VALUE="Falkland Islands">Falkland Islands</OPTION>
 <OPTION VALUE="Faroe Islands">Faroe Islands</OPTION>
 <OPTION VALUE="France">France</OPTION>
 <OPTION VALUE="Gabon">Gabon</OPTION>
 <OPTION VALUE="Germany">Germany</OPTION>
 <OPTION VALUE="Grenada">Grenada</OPTION>
 <OPTION VALUE="Georgia">Georgia</OPTION>
 <OPTION VALUE="Ghana">Ghana</OPTION>
 <OPTION VALUE="Gibraltar">Gibraltar</OPTION>
 <OPTION VALUE="Greenland">Greenland</OPTION>
 <OPTION VALUE="Gambia">Gambia</OPTION>
 <OPTION VALUE="Guinea">Guinea</OPTION>
 <OPTION VALUE="Guadeloupe">Guadeloupe</OPTION>
 <OPTION VALUE="Greece">Greece</OPTION>
 <OPTION VALUE="Grenadines">Grenadines</OPTION>
 <OPTION VALUE="Guatemala">Guatemala</OPTION>
 <OPTION VALUE="Guam">Guam</OPTION>
 <OPTION VALUE="Guinea_Bissau">Guinea Bissau</OPTION>
 <OPTION VALUE="Guyana">Guyana</OPTION>
 <OPTION VALUE="Hong Kong">Hong Kong</OPTION>
 <OPTION VALUE="Honduras">Honduras</OPTION>
 <OPTION VALUE="Haiti">Haiti</OPTION>
 <OPTION VALUE="Hungary">Hungary</OPTION>
 <OPTION VALUE="Indonesia">Indonesia</OPTION>
 <OPTION VALUE="Ireland">Ireland</OPTION>
 <OPTION VALUE="Israel">Israel</OPTION>
 <OPTION VALUE="Ivory Coast">Ivory Coast</OPTION>
 <OPTION VALUE="India">India</OPTION>
 <OPTION VALUE="Iraq">Iraq</OPTION>
 <OPTION VALUE="Iran">Iran</OPTION>
 <OPTION VALUE="Iceland">Iceland</OPTION>
 <OPTION VALUE="Italy">Italy</OPTION>
 <OPTION VALUE="Jamaica">Jamaica</OPTION>
 <OPTION VALUE="Jordan">Jordan</OPTION>
 <OPTION VALUE="Japan">Japan</OPTION>
 <OPTION VALUE="Kenya">Kenya</OPTION>
 <OPTION VALUE="Kyrgyz Republic">Kyrgyz Republic</OPTION>
 <OPTION VALUE="Kuwait">Kuwait</OPTION>
 <OPTION VALUE="Kazakhstan">Kazakhstan</OPTION>
 <OPTION VALUE="Kiribati">Kiribati</OPTION>
 <OPTION VALUE="Laos">Laos</OPTION>
 <OPTION VALUE="Lebanon">Lebanon</OPTION>
 <OPTION VALUE="Liechtenstein">Liechtenstein</OPTION>
 <OPTION VALUE="Liberia">Liberia</OPTION>
 <OPTION VALUE="Lesotho">Lesotho</OPTION>
 <OPTION VALUE="Lithuania">Lithuania</OPTION>
 <OPTION VALUE="Luxembourg">Luxembourg</OPTION>
 <OPTION VALUE="Latvia">Latvia</OPTION>
 <OPTION VALUE="Libya">Libya</OPTION>
 <OPTION VALUE="Morocco">Morocco</OPTION>
 <OPTION VALUE="Monaco">Monaco</OPTION>
 <OPTION VALUE="Moldavia">Moldavia</OPTION>
 <OPTION VALUE="Madagascar">Madagascar</OPTION>
 <OPTION VALUE="Marshall Islands">Marshall Islands</OPTION>
 <OPTION VALUE="Macedonia">Macedonia</OPTION>
 <OPTION VALUE="Micronesia">Micronesia</OPTION>
 <OPTION VALUE="Mali">Mali</OPTION>
 <OPTION VALUE="Myanmar">Myanmar</OPTION>
 <OPTION VALUE="Macau">Macau</OPTION>
 <OPTION VALUE="Mauritania">Mauritania</OPTION>
 <OPTION VALUE="Martinique">Martinique</OPTION>
 <OPTION VALUE="Malta">Malta</OPTION>
 <OPTION VALUE="Montserrat">Montserrat</OPTION>
 <OPTION VALUE="Mauritius">Mauritius</OPTION>
 <OPTION VALUE="Maldives">Maldives</OPTION>
 <OPTION VALUE="Malaysia">Malaysia</OPTION>
 <OPTION VALUE="Mozambique">Mozambique</OPTION>
 <OPTION VALUE="Mayotte">Mayotte</OPTION>
 <OPTION VALUE="Malawi">Malawi</OPTION>
 <OPTION VALUE="Mexico">Mexico</OPTION>
 <OPTION VALUE="Mongolia">Mongolia</OPTION>
 <OPTION VALUE="Nevis Anguilla">Nevis Anguilla</OPTION>
 <OPTION VALUE="North Korea">North Korea</OPTION>
 <OPTION VALUE="Namibia">Namibia</OPTION>
 <OPTION VALUE="New Caledonia">New Caledonia</OPTION>
 <OPTION VALUE="Niger">Niger</OPTION>
 <OPTION VALUE="Norfolk Island">Norfolk Island</OPTION>
 <OPTION VALUE="Nigeria">Nigeria</OPTION>
 <OPTION VALUE="Nicaragua">Nicaragua</OPTION>
 <OPTION VALUE="Netherlands">Netherlands</OPTION>
 <OPTION VALUE="Norway">Norway</OPTION>
 <OPTION VALUE="Nepal">Nepal</OPTION>
 <OPTION VALUE="Nauru">Nauru</OPTION>
 <OPTION VALUE="Neutral Zone">Neutral Zone</OPTION>
 <OPTION VALUE="Niue">Niue</OPTION>
 <OPTION VALUE="New Zealand">New Zealand</OPTION>
 <OPTION VALUE="Oman">Oman</OPTION>
 <OPTION VALUE="Panama">Panama</OPTION>
 <OPTION VALUE="Peru">Peru</OPTION>
 <OPTION VALUE="Polynesia">Polynesia</OPTION>
 <OPTION VALUE="Philippines">Philippines</OPTION>
 <OPTION VALUE="Pakistan">Pakistan</OPTION>
 <OPTION VALUE="Poland">Poland</OPTION>
 <OPTION VALUE="Pitcairn Island">Pitcairn Island</OPTION>
 <OPTION VALUE="Puerto Rico">Puerto Rico</OPTION>
 <OPTION VALUE="Palestine">Palestine</OPTION>
 <OPTION VALUE="Portugal">Portugal</OPTION>
 <OPTION VALUE="Palau">Palau</OPTION>
 <OPTION VALUE="Paraguay">Paraguay</OPTION>
 <OPTION VALUE="Qatar">Qatar</OPTION>
 <OPTION VALUE="Reunion">Reunion</OPTION>
 <OPTION VALUE="Romania">Romania</OPTION>
 <OPTION VALUE="Russian Federation">Russian Federation</OPTION>
 <OPTION VALUE="Rwanda">Rwanda</OPTION>
 <OPTION VALUE="Saudi Arabia">Saudi Arabia</OPTION>
 <OPTION VALUE="Solomon Islands">Solomon Islands</OPTION>
 <OPTION VALUE="Seychelles">Seychelles</OPTION>
 <OPTION VALUE="Sudan">Sudan</OPTION>
 <OPTION VALUE="Saint Kitts">Saint Kitts</OPTION>
 <OPTION VALUE="Sri Lanka">Sri Lanka</OPTION>
 <OPTION VALUE="Saint Lucia">Saint Lucia</OPTION>
 <OPTION VALUE="South Korea">South Korea</OPTION>
 <OPTION VALUE="Sweden">Sweden</OPTION>
 <OPTION VALUE="Switzerland">Switzerland</OPTION>
 <OPTION VALUE="Singapore">Singapore</OPTION>
 <OPTION VALUE="Saint Helena">Saint Helena</OPTION>
 <OPTION VALUE="Slovenia">Slovenia</OPTION>
 <OPTION VALUE="Slovak Republic">Slovak Republic</OPTION>
 <OPTION VALUE="Sierra Leone">Sierra Leone</OPTION>
 <OPTION VALUE="San Marino">San Marino</OPTION>
 <OPTION VALUE="Senegal">Senegal</OPTION>
 <OPTION VALUE="Somalia">Somalia</OPTION>
 <OPTION VALUE="Suriname">Suriname</OPTION>
 <OPTION VALUE="Saint Vincent">Saint Vincent</OPTION>
 <OPTION VALUE="Samoa">Samoa</OPTION>
 <OPTION VALUE="South Africa">South Africa</OPTION>
 <OPTION VALUE="Spain">Spain</OPTION>
 <OPTION VALUE="Saint Tome">Saint Tome</OPTION>
 <OPTION VALUE="Syria">Syria</OPTION>
 <OPTION VALUE="Swaziland">Swaziland</OPTION>
 <OPTION VALUE="Togo">Togo</OPTION>
 <OPTION VALUE="Thailand">Thailand</OPTION>
 <OPTION VALUE="Tadjikistan">Tadjikistan</OPTION>
 <OPTION VALUE="Tokelau">Tokelau</OPTION>
 <OPTION VALUE="Turkmenistan">Turkmenistan</OPTION>
 <OPTION VALUE="Tunisia">Tunisia</OPTION>
 <OPTION VALUE="Tonga">Tonga</OPTION>
 <OPTION VALUE="Turkey">Turkey</OPTION>
 <OPTION VALUE="Trinidad">Trinidad</OPTION>
 <OPTION VALUE="Tobago">Tobago</OPTION>
 <OPTION VALUE="Tuvalu">Tuvalu</OPTION>
 <OPTION VALUE="Taiwan">Taiwan</OPTION>
 <OPTION VALUE="Tanzania">Tanzania</OPTION>
 <OPTION VALUE="Ukraine">Ukraine</OPTION>
 <OPTION VALUE="Uganda">Uganda</OPTION>
 <OPTION VALUE="United Kingdom">United Kingdom</OPTION>
 <OPTION VALUE="USA">USA</OPTION>
 <OPTION VALUE="United States">United States</OPTION>
 <OPTION VALUE="Uruguay">Uruguay</OPTION>
 <OPTION VALUE="Uzbekistan">Uzbekistan</OPTION>
 <OPTION VALUE="Venezuela">Venezuela</OPTION>
 <OPTION VALUE="Virgin Islands">Virgin Islands</OPTION>
 <OPTION VALUE="Vietnam">Vietnam</OPTION>
 <OPTION VALUE="Vanuatu">Vanuatu</OPTION>
 <OPTION VALUE="Western Sahara">Western Sahara</OPTION>
 <OPTION VALUE="Wallis">Wallis</OPTION>
 <OPTION VALUE="Yemen">Yemen</OPTION>
 <OPTION VALUE="Yugoslavia">Yugoslavia</OPTION>
 <OPTION VALUE="Zambia">Zambia</OPTION>
 <OPTION VALUE="Zaire">Zaire</OPTION>
 <OPTION VALUE="Zimbabwe">Zimbabwe</OPTION>
 <OPTION VALUE="Not listed">Not listed</OPTION>
 </select>
</td></tr>
	<tr><td align="right">Telephone:</td><td><input type="text" name="tel" class="fullwidth"></td></tr>
	<tr>
            <td align="right"><B>Email</B> address:</td>
            <td><input type="text" name="email" class="fullwidth"></td></tr>
	<tr>
            <td align="right"> Web site address <B>(URL):</B></td>
            <td><input type="text" name="siteurl" class="fullwidth"></td></tr>
</table>

</td></tr>
<tr>
      <th>Username and Password</th>
    </tr>
<tr><td>

<table align="center" border="0" cellpadding="5" cellspacing="0">
	<tr><td align="right">Username:</td><td><input type="text" name="nickname" size="20" maxlength="20"></td></tr>
	<tr><td align="right">Password:</td><td><input type="Password" name="pass" size="20" maxlength="20"></td></tr>
</table>

</td></tr>
</table>
<br>
  <input type="submit" name="action" value="Join us!" class="button">
  <input type="reset" value="Reset" class="button">
</form>

</body>
</html>
