<html>
<head>
<title>[title_affiliates]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="STYLESHEET" type="text/css" href="mainII.css">
</head>

<body>

<h1>[title_affiliates]</h1>

<table align="center" border="0" cellpadding="10" cellspacing="0" width="100%">
<tr align="center" valign="top">
	<td width="75%">

<table width="90%" border="1" bordercolor="#0099FF" cellspacing="0" cellpadding="5" align="center">
<tr>
	<td><a href="affiliate_join.php">Sign up</a><br>
	Get a commission for every sale you make.
	BONUS: Two-tier: If your referral signs up to this program, and makes a sale, <b class="red">you</b> get paid a commission, for every sale <b class="red">they</b> make.</td>
</tr>
</table>
<br>
<table width="90%" border="1" bordercolor="#0099FF" cellspacing="0" cellpadding="5" align="center">
<tr>
	<td><a href="getcode.php">Get links</a><br>
	Get your affiliate links for your site and start earning money today.</td>
</tr>
</table>
<br>
<table width="90%" border="1" bordercolor="#0099FF" cellspacing="0" cellpadding="5" align="center">
<tr>
	<td><a href="affiliate_stats.php">Sales stats</a><br>
	Check your commissions.</td>
</tr>
</table>
<br>
<table width="90%" border="1" bordercolor="#0099FF" cellspacing="0" cellpadding="5" align="center">
<tr>
	<td><a href="password_reminder.php">Password reminder</a><br>
	Use this form to recover your login data.</td>
</tr>
</table>
	
	</td>
	<td width="25%" style="padding-top: 10px">
	
<table align="center" border="0" cellpadding="2" cellspacing="0" class="white" width="90%">
<tr><th colspan="2">Payout trigger</th></tr>
<tr><td align="center"><b style="color: red">[money_unit][amount_paid]</b></td></tr>
</table>
<br><br>
<table align="center" border="0" cellpadding="2" cellspacing="0" class="white" width="90%">
<tr><th colspan="2">Tracking cookie expires in</th></tr>
<tr><td align="center"><b style="color: red">[cookie_daysto_expire]</b> days</td></tr>
</table>

	</td>
</tr>
</table>


</body>
</html>
