<html>
<head>
<title>Affiliates</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="STYLESHEET" type="text/css" href="mainII.css">
</head>

<body>

<h1>[title_affiliates]  - Affiliates</h1>

<h2>Password reminder</h2>

<p align="center">Enter your Username and/or E-mail address to receive your login data by email</p>

<form method="post" action="password_reminder.php">
<table align="center" border="0" cellpadding="0" cellspacing="10">
	<tr><td>Username:</td><td><input type="text" name="nickname"></td></tr>
	<tr><td>E-mail:</td><td><input type="text" name="email"></td></tr>
	<tr><td>
</table>
<div align="center">
<input type="submit" name="Submit" value="Send me my data" class="button">
</div>
</form>

<p align="center">&nbsp;</p>
   
</body>
</html>