<html>
<head>
<title>TigerTom's Affiliate Program</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="STYLESHEET" type="text/css" href="mainII.css">
</head>

<body>

<h1 ALIGN="CENTER">TigerTom's Affiliate Program</h1>
<H3 ALIGN="CENTER">You´re almost there.</H3> 
<P>We´ve just sent you an <B>email with a link</B> which you need to click on<br>to validate your email address and activate your new affiliate account.<br>Until you do that you´re account will be inactive.<br>Thank you for joining!</p>
</body>
</html>
