<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
	<title>Public Meetings and Attendees</title>
<style type="text/css">
Body {font-family: tahoma;}
</style>
</head>
<body>
<table width="780" height="100%" cellspacing=1>
	<tr>
		<td height="80" colspan="2" align="center" bgcolor="lightyellow">
		Some Groups Public Meetings Page (this can be changed in the template layout.htm)
		</td>
	</tr>
	<tr>
		<td bgcolor="silver" width="100" valign="top"> 
		<a href="index.php">Events</a>
		</td>

		<td bgcolor="#f3f3f3" valign="top">
			{PB_EVENTS}
		</td>
	<tr>
</table>

<p style="font-size: small;">powered by <a href="http://www.timeattendance.us" title="time and attendance" target="_blank">time and attendance</a></p>

</body>
</html>